
*{
  margin: 0;
  padding: 0;
font-family: poppins;
}

html,body{
  height: 98vh;
  width: 100%;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}



.container{
  
  width: 100%;
}



h1{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2vh;
  color: white;
  text-shadow: 0 0 10px black;
}

.game-boxes{
  
  
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  padding-top: 5vh;
  margin-top: 15px;
  margin-left: 28vw;
  padding-left: 10vw;
  margin-bottom: 0;


}

.box{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ffbf00;
  box-shadow: 0 0 0.3rem black;
  border-radius: 3px;
  font-size: 3rem;
  cursor: pointer;
  border:3px solid white;
}
.game-chance{
margin-top: 4vh;
margin-left: 2vw;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;

}


.resetgame{
height: 7vh;
width: 10vw;
font-size: 1rem;
font-weight: 500;
margin-left: 45.5vw;
margin-top: 4vh;
background-color: yellow;
border-radius: 5px;
cursor: pointer;
}




.container2{
  margin-top: 8vh;
  height: 73vh;
  width: 30vw;
  background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
  margin-left: 37vw;
 display: none; 
 border: 3px solid white;
 border-radius: 8px;
}

.annoucement{
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  background-color: yellow;
  font-weight: 500;
}

.winner-msg{
  font-size: 1.3rem;
  text-align: center;
  margin-top: 5vh;
  font-weight: 500;
  
}

.new-game{
 height: 7vh;
width: 11vw; 
color: white;
margin-top: 8vh;
margin-left: 9.5vw;
background-color:red;
font-size: 1.2rem;
font-weight: 500;
border: 2px solid black;
border-radius: 8px;
cursor: pointer;
}



.winner-image {
  height: 30vh;
  margin-top: 5vh;
  margin-left: 8.2vw;
 
}

@media(max-width:430px){
 
  h1{
    font-size: 1rem;
  }

  .game-boxes{
    margin-left: 0;
  }

  .box{
    height: 100px;
    width: 100px;
    
  }

  .resetgame{
    height: 5vh;
    width: 32vw;
    margin-left: 33vw;
  }

  .container2{
    height: 50vh;
    width: 75vw;
    margin-left: 14vw;
  }

  .annoucement{
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 1.2rem;
  }

  .winner-msg{
    font-size: 1.1rem;
  }

  .new-game{
    height: 5vh;
    width: 32vw;
    margin-left: 22vw;
    margin-top: 5vh;
  }

  .winner-image{
    height: 20vh;
    margin-left: 15.5vw;
  }

}